.button {
  display: flex;
  gap: 10px;
  color: var(--text-primary);
  background: var(--bg-primary);
  min-width: 5rem;
  min-height: 2.5rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
}
