.searchBar__input {
  background-color: var(--bg-secondary);
  border-style: none;
  font-family: var(--font-face);
  font-size: 1.5rem;
  padding-left: 5rem;
  text-align: center;
  color: var(--text-secondary);
  width: 100%;
  border-radius: 20px;
}
.searchBar__input:focus {
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  border: solid 1px var(--bg-tag);
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  justify-self: center;
}
