.header {
  color: var(--color-primary);
  font-family: var(--header-font);
}
.headerContainer {
  display: flex;
  min-height: 2.5rem;
}
h1 {
  margin: 0;
  font-size: 2.5rem;
}
.headerBracket {
  color: var(--text-secondary);
  font-family: var(--font-face);
  font-size: 2.7rem;
}
