.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  gap: 15px;
  background-color: var(--bg-primary);
  overflow: hidden;
}
.codeForm {
  overflow: scroll;
}
.headerSection {
  justify-self: center;
  padding-top: 1rem;
}
.formWrapper {
  display: grid;
  gap: 0.5rem;
  height: 100%;
  grid-template-rows: auto auto 1fr;
  overflow: scroll;
}
.titleInput {
  background-color: var(--bg-card);
  border-style: none;
  font-family: var(--font-face);
  font-size: 2rem;
  text-align: center;
  color: var(--text-secondary);
  width: 70%;
  border-radius: 10px;
  justify-self: center;
}
.titleInput:focus {
  outline: none;
}
.taggroup {
  justify-self: center;
  height: 2.5rem;
}
