.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  gap: 15px;
  background-color: var(--bg-primary);
  overflow: hidden;
  position: relative;
}
.codeForm {
  overflow: scroll;
}
.headerSection {
  justify-self: center;
  padding-top: 1rem;
}
.formWrapper {
  display: grid;
  gap: 0.5rem;
  height: 100%;
  grid-template-rows: auto auto 1fr;
  overflow: scroll;
  z-index: 1;
}
.titleInput {
  background-color: var(--bg-card);
  border-style: none;
  font-family: var(--font-face);
  font-size: 2rem;
  text-align: center;
  color: var(--text-secondary);
  width: 70%;
  border-radius: 10px;
  justify-self: center;
}
.titleInput:focus {
  outline: none;
}
.taggroup {
  justify-self: center;
  height: 2.5rem;
}
.inputWrapper {
  display: grid;
  gap: 0.4rem;
}
.navSection {
  z-index: 1;
}
.middleSpinner {
  position: absolute;
  bottom: 0;
  right: -75px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  -webkit-animation: spin 14s linear infinite;
  -moz-animation: spin 14s linear infinite;
  animation: spin 14s linear infinite;
  z-index: 1;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.bigSpinner {
  position: absolute;
  top: -50px;
  left: -250px;
  height: 450px;
  width: 450px;
  overflow: hidden;
  -webkit-animation: spin 25s linear infinite;
  -moz-animation: spin 25s linear infinite;
  animation: spin 25s linear infinite;
}
