.container {
  display: grid;
  height: 100vh;
  background-color: var(--bg-primary);
  overflow: hidden;
  gap: 15px;
  grid-template-rows: auto auto 1fr;
}
.headerSection {
  display: grid;
  gap: 10px;
  padding: 1rem 1rem 2rem 1rem;
}
.headerSpacer {
  font-size: 1.5rem;
}
.headerPos {
  justify-self: center;
}
.tagGroupPos {
  justify-self: center;
}
.collectionListWrapper {
  justify-self: center;
  overflow: scroll;
}
.noCollections {
  font-size: 1.25rem;
  font-family: var(--font-face);
  color: var(--text-primary);
  text-align: center;
  padding-bottom: 100%;
}
.tagList {
  display: grid;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1000;
  background-color: rgba(32, 32, 32, 0.65);
}
.modalContent {
  display: grid;
  gap: 10px;
  padding: 15rem 1rem 1rem 1rem;
}
.addButtonPos {
  margin-top: 5rem;
}
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
