.collectionContainer {
  justify-self: center;
}
.tagSize {
  height: 2.5rem;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1000;
  background-color: rgba(32, 32, 32, 0.65);
}
.modalContent {
  display: grid;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}
@media only screen and (max-width: 600px) {
  .modal {
    height: calc(100% + 20rem);
  }
}
.noCollections {
  font-size: 2rem;
  font-family: var(--text-primary);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.tagList {
  display: grid;
  gap: 10px;
}
.headerModal {
  justify-self: center;
}
