@font-face {
  font-family: 'Roboto';
  src: url('assets/font/Roboto-Regular.ttf');
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary: #14181d;
  --bg-secondary: #3a3a3a;
  --bg-tag: #686868;
  --bg-card: #2a2a2a;
  --color-primary: #f90;
  --text-primary: #fff;
  --text-secondary: #c4c4c4;
  --font-face: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-face);
}
