.container {
  display: grid;
  gap: 0.5rem;
}
.titleInput {
  background-color: var(--bg-card);
  border-style: none;
  font-family: var(--font-face);
  font-size: 2rem;
  text-align: center;
  color: var(--text-secondary);
  width: 70%;
  border-radius: 10px;
  justify-self: center;
}
.titleInput:focus {
  outline: none;
}
.DescriptionInput {
  background-color: var(--bg-card);
  border-style: none;
  color: var(--text-secondary);
  border-radius: 10px;
  font-size: 1rem;
  height: 10rem;
}
.taggroup {
  justify-self: center;
}
.collectionContainer {
  display: flex;
  gap: 0.5rem;
  justify-self: center;
}
